.notification {
    padding: 20px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 400px;
    color: #fff;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
}