.btn {
    margin: 30px auto;
    width: 90px;
    height: 40px;
    display: block;
    background-color: rgb(66, 64, 64);
    text-align: center;
    border: none;
    border-radius: 20px;
    transition: background-color .2s linear;
    &:hover {
        cursor: pointer;
        background-color: rgb(90, 86, 86);
    }
}

.favorites {
    display: flex;
}

.btn-favorites {
    width: 150px;
    height: 30px;
    color:#fff;
    display: flex;
    align-items:center;
    i {
        margin: 0 5px 0;
    }
}
.infowrapper {
    display: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    i {
        color: #fff;
        font-size: 26px;
        
    }
}

.infocontainer {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    margin: 50px auto;
    width: 1300px;
    height: 600px;
}

.slider-inner {
    margin: 50px auto;
    width: 1000px;
    h2 {
        color:#fff
    }
    img {
        margin: 0 auto;
        width: 160px;
        border-radius: 6px;
    }
}

.poster {
    padding: 0 20px;
    
}

.posterwrapper {
    margin: 0 auto;
    width: 200px;
    width: 300px;
    height: 450px;
    img {
        margin: 0;
        max-width: 100%;
    }
}

.info {
    padding: 0 20px;
    h1,h3 {
        color: #fff;
        text-align: left;
    }
}

.filminfostring {
    display: grid;
    grid-template-columns: 1fr 3fr;
    div {
        padding: 8px 0;
        color: #fff;
    }
}

.raiting {
    
}

.choisewrapper {
    position: relative;
    width: 350px;
    height: 35px; 
    padding: 4px 15px;
    background-color: rgb(66, 64, 64);
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    div {
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
    }
    i {
        display: block;
        
        color: #fff;
        font-size: 26px;
    }
    span {
        color: #fff;
        font-size: 20px;
        transition: .2s ease;
    }
}

.red {
    &:hover {
        color: red;
        font-size: 22px;
        cursor: pointer;
        
    }
}

.gray {
    &:hover {
        color: gray;
        font-size: 22px;
        cursor: pointer;
    }
}

.green {
    &:hover {
        color: green;
        font-size: 22px;
        cursor: pointer;
    }
}

.show {
    display: block;
}

.close {
    position: absolute;
        top: 100px;
        right: 100px;
        transition: transform .2s linear;
        &:hover {
            cursor: pointer;
            transform: rotate(45deg);
        }
}