.find-wrapper {
    h1 {
        color: #fff;
    }
}

.item-inner {
    position: relative;
    margin-bottom: 6px;
}

.delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 22px;
    &:hover {
        cursor: pointer;
    }
}