
.find-wrapperr {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.resultss {
    width: 460px;
    height: 600px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: rgb(87, 84, 84); 
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        &:hover {
            background-color: rgb(164, 154, 154);
        } 
    }
}

.find-posterr {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.find-infoo {
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.item-inner {
    height: 200px;
}